body, html  {
    height:100%;
    font-family: 'Acme', sans-serif;
    line-height: 3;
  
}

.bg {

    /* The image used */
    background-image: url("../images/movie-theater.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    margin-top:100px;
    text-align: center;
}

#title{


}